.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}   

.popup__body{
    background: white;
    padding: 1ex 1em;
    border-radius: 1em; 
}

.btn__color{
    color: white;
}

